#footer {
	background-color: #FAFAFA; position: relative;   border-top:1px solid #C1C1C1; text-align: center; color: #6C6C6C;
	ul { 
		list-style: none;  margin-bottom: 30px; 
		li { display: inline-block; }
	}
	ul.menu { 
		font-size: 11px; 
		li { 

			&[class*="active"], &:hover {
				&>a { color: $color1}
			}
		}
		a { 
			display: block; position: relative; padding:0  10px;text-transform: uppercase; 
		}
	}

	ul.menu1 {
		font-size: 12px;
		a { font-weight: 600; font-size: inherit; }
	}

	ul.blog-item-social {

		li {padding: 0 20px; }
		a { 
			display: block; font-size: 30px;@extend .tss;
			&:hover {color: $color1; }
		} 
	}
}

