@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?v1grt3');
  src:  url('fonts/icomoon.eot?v1grt3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?v1grt3') format('truetype'),
    url('fonts/icomoon.woff?v1grt3') format('woff'),
    url('fonts/icomoon.svg?v1grt3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e961";
}
.icon-armchair:before {
  content: "\e953";
}
.icon-arrow:before {
  content: "\e954";
}
.icon-conversation:before {
  content: "\e955";
}
.icon-copyright:before {
  content: "\e956";
}
.icon-facebook1:before {
  content: "\e957";
}
.icon-heart-add .path1:before {
  content: "\e958";
  color: rgb(157, 14, 1);
}
.icon-heart-add .path2:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-heart-add .path3:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-instagram1:before {
  content: "\e95b";
}
.icon-lamp:before {
  content: "\e95c";
}
.icon-list:before {
  content: "\e95d";
}
.icon-logout:before {
  content: "\e95e";
}
.icon-mail:before {
  content: "\e95f";
}
.icon-news:before {
  content: "\e960";
  color: #6c6c6c;
}
.icon-payment .path1:before {
  content: "\e963";
  color: rgb(189, 195, 199);
}
.icon-payment .path2:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(189, 195, 199);
}
.icon-payment .path3:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(85, 96, 128);
}
.icon-payment .path4:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(85, 96, 128);
}
.icon-payment .path5:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(189, 195, 199);
}
.icon-payment .path6:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(36, 174, 95);
}
.icon-payment .path7:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-payment .path8:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-payment .path9:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(189, 195, 199);
}
.icon-payment .path10:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(189, 195, 199);
}
.icon-payment .path11:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(216, 98, 94);
}
.icon-save-money:before {
  content: "\e96e";
}
.icon-shipped:before {
  content: "\e96f";
}
.icon-shop:before {
  content: "\e970";
}
.icon-support:before {
  content: "\e971";
}
.icon-table:before {
  content: "\e972";
}
.icon-youtube1:before {
  content: "\e973";
}
.icon-folder:before {
  content: "\e952";
}
.icon-folder-3:before {
  content: "\e951";
}
.icon-folder-2:before {
  content: "\e950";
}
.icon-arrow-1:before {
  content: "\e900";
}
.icon-arrow-2:before {
  content: "\e901";
}
.icon-arrow-3:before {
  content: "\e902";
}
.icon-arrow-4:before {
  content: "\e903";
}
.icon-arrow-5:before {
  content: "\e904";
}
.icon-arrow-6:before {
  content: "\e905";
}
.icon-arrow-7:before {
  content: "\e906";
}
.icon-arrow-8:before {
  content: "\e907";
}
.icon-arrow-9:before {
  content: "\e908";
}
.icon-arrow-10:before {
  content: "\e909";
}
.icon-arrow-11:before {
  content: "\e90a";
}
.icon-arrow-12:before {
  content: "\e90b";
}
.icon-arrow-13:before {
  content: "\e90c";
}
.icon-arrow-14:before {
  content: "\e90d";
}
.icon-arrows:before {
  content: "\e90e";
}
.icon-close:before {
  content: "\e90f";
}
.icon-company:before {
  content: "\e910";
}
.icon-company-2:before {
  content: "\e911";
}
.icon-date:before {
  content: "\e912";
}
.icon-date-2:before {
  content: "\e913";
}
.icon-dropbox:before {
  content: "\e914";
}
.icon-edit:before {
  content: "\e915";
}
.icon-edit-2:before {
  content: "\e916";
}
.icon-edit-3:before {
  content: "\e917";
}
.icon-facebook:before {
  content: "\e918";
}
.icon-flickr:before {
  content: "\e919";
}
.icon-google:before {
  content: "\e91a";
}
.icon-google-plus:before {
  content: "\e91b";
}
.icon-google-plus-2:before {
  content: "\e91c";
}
.icon-heart:before {
  content: "\e91d";
}
.icon-home:before {
  content: "\e91e";
}
.icon-home2:before {
  content: "\e91f";
}
.icon-home3:before {
  content: "\e920";
}
.icon-image:before {
  content: "\e921";
}
.icon-instagram:before {
  content: "\e922";
}
.icon-language:before {
  content: "\e923";
}
.icon-linkedin:before {
  content: "\e924";
}
.icon-lock:before {
  content: "\e925";
}
.icon-mail-1:before {
  content: "\e926";
}
.icon-mail-2:before {
  content: "\e927";
}
.icon-mail-3:before {
  content: "\e928";
}
.icon-map:before {
  content: "\e929";
}
.icon-maps:before {
  content: "\e92a";
}
.icon-menu:before {
  content: "\e92b";
}
.icon-minus:before {
  content: "\e92c";
}
.icon-minus-2:before {
  content: "\e92d";
}
.icon-mobile:before {
  content: "\e92e";
}
.icon-money:before {
  content: "\e92f";
}
.icon-noti:before {
  content: "\e930";
}
.icon-paypal:before {
  content: "\e931";
}
.icon-phone-1:before {
  content: "\e932";
}
.icon-phone-2:before {
  content: "\e933";
}
.icon-phone-3:before {
  content: "\e934";
}
.icon-phone-4:before {
  content: "\e935";
}
.icon-pinterest:before {
  content: "\e936";
}
.icon-plane:before {
  content: "\e937";
}
.icon-play:before {
  content: "\e938";
}
.icon-plus:before {
  content: "\e939";
}
.icon-plus-2:before {
  content: "\e93a";
}
.icon-question:before {
  content: "\e93b";
}
.icon-quote:before {
  content: "\e93c";
}
.icon-search:before {
  content: "\e93d";
}
.icon-search-2:before {
  content: "\e93e";
}
.icon-share:before {
  content: "\e93f";
}
.icon-share-2:before {
  content: "\e940";
}
.icon-skype:before {
  content: "\e941";
}
.icon-smile:before {
  content: "\e942";
}
.icon-spin:before {
  content: "\e943";
}
.icon-star:before {
  content: "\e944";
}
.icon-tag:before {
  content: "\e945";
}
.icon-talk:before {
  content: "\e946";
}
.icon-tick:before {
  content: "\e947";
}
.icon-tumblr:before {
  content: "\e948";
}
.icon-twitter:before {
  content: "\e949";
}
.icon-user:before {
  content: "\e94a";
}
.icon-user-2:before {
  content: "\e94b";
}
.icon-user-3:before {
  content: "\e94c";
}
.icon-vimeo:before {
  content: "\e94d";
}
.icon-youtube:before {
  content: "\e94e";
}
.icon-youtube-2:before {
  content: "\e94f";
}
