.new-element {
    .checkbox {
        margin: 30px 0 0;
        display: inline-block;
    }

    .delete-element {
        margin-top: 25px;
        padding: 10px 15px;
    }
}

.elements-group-wrapper {
    .panel-title a {
        position: relative;
        text-decoration: none;
        overflow: hidden;

        > .drag-icon {
            font-size: 16px;
            color: #737881;
            cursor: move;
            vertical-align: top;
            margin: 4px 10px 0 0;
            white-space: nowrap;
            display: inline-block;
            i {
                float: left;

                &:nth-child(2) {
                    margin-left: 1px;
                }
            }
        }
    }

    .form-group {
        margin-left: 0;
        margin-right: 0;
    }
}

.elements {
    .form-group {
        margin: 0;
    }

    thead th {
        &:first-child {
            width: 40px;
        }

        &:last-child {
            width: 60px;
        }
    }

    tbody {
        tr:nth-of-type(2n+1) {
            background: #f9f9f9;
        }
    }
}

.element-select {
    .elements {
        .element-row {
            td {
                &:nth-child(2) {
                    min-width: 180px;
                }

                &:nth-child(3) {
                    min-width: 120px;
                }

                &:nth-child(4) {
                    min-width: 110px;
                }
            }
        }
    }
}

.add-global-element {
    .form-group {
        margin-left: 0 !important;
        margin-right: 10px !important;
    }

    > button {
        margin-bottom: 15px;
    }
}


@media screen and (max-width: 1199px) {
    .add-global-element {
        float: none !important;
        clear: both;
    }

    .new-element {
        .checkbox {
            margin-top: 4px;
        }

        .delete-element {
            margin-top: 0;
        }

        .p-l-0 {
            padding-right: 0;
        }
    }

    .elements-group-wrapper {
        .element-values {
            .element-text,
            .element-select {
                margin-top: 15px;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .new-element {
        .checkbox {
            padding-top: 7px;
        }
    }
}
