$header:90px; 
$header-md:70px; 
$header-sm:70px;  
$header-xs:70px;       

$sticky:n; 
$sticky-md:n;  
$sticky-sm:n; 

$logo-sticky : $sticky - 30; 
$logo-sticky-md : $sticky-md - 5; 
$logo-sticky-sm : n; 

// Logo  
$logo-img : $header - 50; 
$logo-img-md : $header-md - 30;  
$logo-img-sm : $header-sm - 30; 
$logo-img-xs : $header-xs - 30; 


$hd_bg :#fff;
$hd_color :n;  
$hd_zindex : 1000; 


$hd_border : 1px; 
$hd_border_color : #e6e2eb;   
$hd_shadow : n; 

	// Fixe
	$hd_fix_shadow :n; 
	$hd_fix_bg : #fff;
	$hd_fix_border_color : n;   
	