/* RESET 
-------------------------------------------------*/
body {
  color: #000; font-family: $font1; font-size: 14px;   line-height: 1.42857143;
  &:not(.home) {
    #main {
      padding:50px 0; 
    }
  }
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;  margin-bottom: 20px;   display: block; font-weight: 500;
}

h1,.h1 { font-size: 40px; } 
h2,.h2 { font-size: 32px; } 
h3,.h3 { font-size: 25px}
h4,.h4 { font-size: 20px}
h5,.h5 { font-size: 18px}
h6,.h6 { font-size: 100%} 

.max500 {
  max-width: 500px; margin:0 auto;
}

textarea.input {
	padding-top: 10px; padding-bottom: 10px; height: 100px;
}
.entry-content {
  .meta { font-size: 12px; color: #707070; font-weight: normal; }
  p, .p { margin-bottom: 30px; }
  ul,ol { 
    margin:0 0 40px 25px;
    li { margin-bottom: 5px;} 
    ul {
      margin-bottom: 0;
      li:first-child { margin-top: 5px;}
      &.none { list-style: none; margin: 0;}
    }
  }
  img { height: auto;} 

  a { color: $color1; }
}

.dropdown {
    ul.menu{
      margin:0; padding:0;
      &>li{ 
        display: block;
        a { display: block; padding: 8px 10px;} 
        &:not(:first-child) { border-top: 1px solid rgba(0, 0, 0, 0.2);}
        &.active {
          a { color: $color1; } 
        }
      }
    }  
}


#back-top{
  background-color: transparent; border-radius: 100%;   font-size: 18px;
  bottom:20px;color:#fff;cursor:pointer;display:block; height:80px;line-height:80px;position:fixed; right: 20px;
  text-align:center;text-decoration:none; opacity: 0; visibility: hidden; width:80px;z-index:1040;
  @extend .tss;
  &:hover {
    background-color: $color2;
  }
  &.show{ opacity: 1; visibility: visible;}
}

.meta {  
    margin-bottom: 10px; font-size: 14px; color: #B2B2B2; vertical-align: bottom;  
    i { font-size: 20px; display: inline-block; margin-right: 2px; }

}

#map { height: 500px; }

/* END RESET */

@include min1400  {
  .container { max-width: 1360px }
  ul.menu-top-header > li { margin-right: 35px; }
}




.entry-head {
  max-width: 600px; margin:0 auto 30px; text-align: center;
  h2 { margin:0; text-transform: uppercase; }
  .hd { color: #666666;  }
}


.language {
  .title {
    position: relative; padding-right: 20px;
    &:before {
      @include arrow(b,5px,5px,#000); @include middleY; right: 0;
    }
    .img {
      border-radius: 100%; border:1px solid $color1; padding:1px; width: 40px; height: 40px; 
      img { width: 100%; height: 100%; border-radius: 100%; display: block; }
    }
  }
  .content { width: 200px; }
  ul.menu {
    a {
      display: block;  line-height: 20px;
      img { float: left; margin-right: 10px; }
    }
  }
} 



#header {
  transition: background .3s ease, transform .3s ease; 
  .menu-btn { @include middleY; right: 15px}

  #logo {
    .white { display: none; }
  }

  .group-header > .item { 
    &>a{
      &:hover { color: $color1; }
    }
  }



  @include min1200 {
    .menu-btn { display: none; }
    .wrap-menu-header  > ul.menu-top-header  {
      margin-right: 180px;

      & > li > a {
          transition: unset;
      }

    }
  }
  @include max1199 {
    .wrap-menu-header { display: none !important; }
    .group-header {    margin-right: 60px; }
  }
  @include max767 {
    .ilang { display: none !important; }
  }


  /* Sticky Header with Banner */
  body.hasbanner &{  
    position: fixed;
    &:not(.sticky) {
      &:not(:hover){
          background-color: transparent !important; border-color: transparent; color: #fff;
          #logo {
            .dark { display: none; }
            .white { display: block; }
          }
          ul.menu-top-header {
            &>li { 
              &>a:not(:hover) {
                color: #fff;  
              }
            }
          }
          .language .title:before{ border-top-color: #fff; }


          .menu-btn.x {
            span, &:before, &:after { background-color: #fff; }
          }
      }
      
    }
  }    


  body.hasbanner2 &{  
    position: fixed;
    &:not(.sticky) {
      &:not(:hover){
          background-color: transparent !important; border-color: transparent;
      }
    }
  }    
  /*End fix*/  

}
body[class*="hasbanner"] .afterHeader { display: none !important; }




#bannertop {
  position: relative;    z-index: 10; max-height: 700px;
  &:before { background-color: rgba(0,0,0,0.3);     box-sizing: border-box; min-height: 400px;}
  .divtext { position: absolute; top: 200px; text-align: center; left: 0; right: 0; z-index: 2; color: #fff; }
  &.homebanner {
    max-height: 700px; background-repeat: no-repeat; background-size: cover; background-position: center; 
  }
  &.subbanner {
    max-height: 400px; background-position: bottom center; background-repeat: no-repeat;
    .divtext {
      top: 250px;
    }
  }

}






.divsocial {
  .item {
    display: inline-block; width: 30px; height: 30px; border: 1px solid #fff; border-radius: 100%; @extend .tss; text-align: center;
    line-height: 28px; margin-left: 10px;     font-size: 16px; 
    &:hover {
      border-color: $color1;
    }
  }
} 



.layout-sc-sidebar {     
  .item {   
    overflow: hidden;
    & + .item {
      margin-top: 10px;
    }
  }
  .img { float: left; width: 68px; margin-right: 10px; border-radius: 5px; } 
  .title { 
    @extend .tss; display: block; margin-bottom: 4px; font-weight: 700;
    &:hover { color: $color1;}
  }
  .meta { margin:0; }
  .desc {}
  .divtext { overflow: hidden; }
}

.modal {
 .close {
  border-radius: 100%; background-color: #fff; border:1px solid $color1; line-height: 38px; color: $color1; top: -20px; right: -20px;
  }
  @include max767 {
    .row {
      margin-left: -5px; margin-right: -5px;
      &>div { padding-left: 5px; padding-right: 5px; }
    }
    .select { padding-right: 30px; padding-left: 5px; }    
    .close {    top: -10px;   right: -10px;}
  }  
}




.formpopup {


  .modal-dialog { width: 420px }
  .modal-content { padding:30px; border-radius: 10px; }
  @include max767 {
    .modal-content { padding:15px;}
   }



  h3 { font-size: 24px; text-align: center; } 
  a { 
    color: $color1; @extend .tss; 
    &:hover {  color: $color3;  }
  }


  a.input { 
    &.share {
      position: relative; display: block;  width: 100%; padding-left: 50px; line-height: 43px; color: #999; @extend .tss; 
      cursor: pointer;
      &:hover { color: $color1; } 
      &>img { height: 18px; left: 15px; text-align: center; @include middleY; }
    }

  }

  .winput { 
    position: relative;  
    .input { width: 100%; padding-left: 45px; }
    &>i { width: 45px; text-align: center; @include middleY; left: 0; color: $color1; }

  }

  .select { width:100%; font-size: 14px;}
  .wremember {
    overflow: hidden;
    .remember { 
      float: left; 
      input {   float: left;     margin: 5px 5px 0 0;   }      
    }

    .spass {
      float: right;
      .s { display: inline-block; }
      .h { display: none; }

      &.ac {
        .h { display: inline-block; }
        .s { display: none; }
      }    
    }
  }

  .logsocial {
    border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; margin-bottom: 20px;
    padding:30px 0; position: relative;
    a {
      display: block; border:2px solid #999999; color: #999999; height: 45px; text-align: center; line-height: 40px; border-radius: 5px;
      &.fb:hover { border-color: #4267b2;  color: #4267b2; }
      &.gg:hover { border-color: #f00;  color: $color3; }
    }
    .title { background-color: #fff; font-size: 12px; @include middle; top: 0; padding: 0 10px; }
  }
  .logsocial2 {
    border-bottom: 1px solid #ddd; margin-bottom: 20px; font-size: 12px;
    padding:0 0 20px; position: relative; text-align: center;
    .title { position: absolute; background-color: #fff; font-size: 12px; transform: translate( -50%, 50%); left: 50%; bottom: 0; padding: 0 10px; }
  }

  .formregister {
    height: 0; overflow: hidden; visibility: hidden;
  }

  &.switch {
    .formlogin {
      height: 0; overflow: hidden; visibility: hidden;
    }    
    .formregister {
      height: auto; overflow: inherit; visibility: visible;
    }
  }


} // .formpopup 


.wrap-menu-mb {
  
  .language {
    padding:20px;
    ul {
      list-style: none;  margin:0; text-align: center;
      img {position: relative;    top: 3px;}
      .active { color: $color1; }
    }
  }
}




.wrating {
  font-size: 14px; color: #666666;
  &>span { display: inline-block; }
  .rating {
    margin-right: 10px;
    img { width: auto !important; height: 10px; }
  }
}


.datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active {
  background: $color1 !important;
}




.acordion { 
  border-top: 1px solid #000;
  @include acordion;
  &>.tab {
    border-bottom: 1px solid #000;
    &>.tab-title{
        font-size: 18px; font-weight: 700; padding:20px 50px 20px 0; color: $color1;
        .triangle {
            color: $color2;
            i { display: inline-block; @extend .tss; }
        }
    }
    &.show>.tab-title .triangle  {
        i {   @include rotateX(180deg); }
    }   
  }
}

.toggleHeight  .toggle { 
    color: $color1; @extend .tss; cursor: pointer;      margin-top: 15px; clear: both;
    &:hover {  }
}

.list-arr {
  list-style: none;
  li { 
    padding-left: 20px; position: relative;
    &:before {
      @include arrow(r, 8px,6px,$color1);
      position: absolute; left: 0; top: 3px;
    }
    &+li { margin-top: 5px; }
  }
}

.list-icon {
  list-style: none; margin:0; padding:0;
  li { 
    padding:5px 0 5px 25px; position: relative;  margin-bottom: 5px;
    &>i {
      position: absolute; left: 0; top: 5px; color: $color1;
    }

  }
}


.list-icon-1 {
  list-style: none;
  li { 
    padding:5px 0 5px 25px; position: relative;
    &:before {
      font-family: 'icomoon' !important;      content: "\e93b";
      position: absolute; left: 0; top: 5px; color: $color1;
    }
    &+li {  }
  }
}


ul.pagination {
  li { margin:0 10px 0 0; } 
  .prev { 
    border-color: transparent;
    &:before {
      @include arrow(l, 8px,5px,$color1); @include middleY;  left: 4px;
    }
    &:hover {
      &:before { border-right-color: #fff; }
    }    
  }
  .next { 
    border-color: transparent;
    &:before {
      @include arrow(r, 8px,5px,$color1); @include middleY;  left: 6px;
    }
    &:hover {
      &:before { border-left-color: #fff; }
    }
  }

}



.acordion-faqs { 
  @include acordion;
  &>.tab {
     color: $color2;
     &+.tab { border-top: 1px solid #d9d9d9; }
    &>.tab-title{
      padding:20px 30px; font-weight: 700;     font-size: 16px;
      &:before, &:after { font-size: 18px; font-family: 'icomoon' !important;}
      &:before {
          content: "\e942";
          
          left: 0;
          @include middleY; 
      }       

      &:after {
          content: "\e94c";
          right: 10px;
          @include middleY; 
      }  

      &:hover {
        &:after { color: $color1; }
      }     

    }
    &.show>.tab-title:after {     content: "\e955";    }   
  }
}



//////////////////////////

ul.menu-top-header li.megascreen {
  &>.wrapul {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: $header;    
    @include transition(0.1s);
    &>ul>li { float: none; width: auto; padding:0; }
  }
}

#product-menu {
  color: #6C6C6C;
  .container {     max-width: 1140px; padding-top: 50px; padding-bottom: 50px; }

  ul.menu {
    list-style: none; margin:0; padding:0; width: 200px; position: relative;
    .item {  display: block; cursor: pointer; text-transform: uppercase; }
    li {
      margin-bottom: 15px; border:none; position: static;
      ul { list-style: none; margin:0; padding:0; width: 200px; position: absolute; top: 0; display: none; font-size: 14px;}
      &>ul {    left: 100%;       }
      &.show {
        &>ul{
          display: block;
        }
      }
      &.active {
        &>ul{
          display: block;
        }
        &>.item { color: $color2; font-weight: 600; }
      }      
      &:hover {
        &>.item { color: $color2; }
      }     
    }

    @include max1199 {
      width: auto; display: block; border:none !important;
      ul { position: relative !important; width: auto !important; left: auto !important; margin:10px 0 0 25px !important; border:none !important; }
    }
  }



  .synproduct {
    position: relative; background-color: #EEEEEE;
    .img {
      position: relative;
      img {
          object-fit: contain;
          max-width: 80%;
          max-height: 60%;
          @include middle;
      }

    }
    .title { position: absolute; left: 30px; top: 30px; z-index: 2; }
    .viewall { 
      position: absolute; right: 30px; bottom: 30px;  z-index: 2; 
      color: $color2;
      i { font-size: 18px;     position: relative;    top: 3px; }
      &:hover { color: $color1; } 
    }


  }
}



.readmore {
  position: relative; 
  i { position: relative; top: 3px; display: inline-block; @extend .tss; }
  &:hover { 
    i { @include translateX(10px) }
  }
}

.btn{
  &.arr {

    &:hover { 
      &:before { right: 5px}
    }    
  }
}


%aconcept-block-1 {  
  .divtext  {  
    padding:20px; background-color: #fff;      display: table; width: 100%;
    &>.inner { display: table-cell; vertical-align: middle;  }
  }


  .row:not(.end) {
    .divtext { background-color: $color3; color: #fff; }
  } 

  .img {
    img { display: block; width: 100%; }
  }

  .title2 { text-transform: uppercase; margin-bottom: 10px;  font-weight: 600;  } 

  .desc { margin-bottom: 10px; }

  .sec-more { padding-top: 10px; }
  @include min992 {
    .divtext  {  padding:50px;}
  }
  @include max767 {
    .divtext  { height: auto !important;}
  }



}

%aconcept-block-2 {  
  .col-img { position: relative; z-index: 2; }
  .col-text {
    position: relative;
    &:before {
      content: ""; position: absolute; background-color: #F6F6F6; right: 15px; left: -70px; top: 100px; bottom: -50px;
    }
    .img {     margin-bottom: 30px; }
  }
  .img {
    img { display: block; width: 100%; }
  }  
  .divtext  {  
    padding-right: 30px;
  }


  .title { text-transform: uppercase; } 

  .desc { margin-bottom: 10px; }


  @include min1200 {
    .divtext  {
    }
  }

}



%aconcept-list-1 {  
  .item { display: block; margin-bottom: 20px; }
  .img {
    &:before {
      padding-top: 150%;
    }
  }
  .title2 {
    position: absolute; bottom: 20px; left: 0; right: 0; text-align: center; color: #fff; z-index: 3; @extend .tss;
    span { display: inline-block; background-color: rgba(0,0,0,0.7);padding: 5px 20px; }
  }
  .title { font-weight: 600; margin-bottom: 10px; opacity: 0;   transition: all 1s cubic-bezier(0.000,0.150,0.000,1.000); transform: translateY(50px) scale3d(1,1.6,.8);}
  .more { opacity: 0;   transition: all 1s cubic-bezier(0.000,0.150,0.000,1.000); transform: translateY(50px) scale3d(1,1.6,.8); transition-delay:0.2s;}


  .divtext  {  
     @include middleY; left: 0; right: 0; text-align: center; z-index: 3; color: #fff;
  }
  @include min1200 {
    .item {
      &:hover {
        .img {
          &:before { background-color: rgba(0,0,0,0.5)}
        }
        .divtext  {
          .title, .more {  opacity: 1 !important; transform: translate(0,0) scale3d(1,1,1) !important;  } 
        }
        .title2 {
           opacity: 0; @include translateY(50%);
        }
      }
    }


  }

}

%aconcept-list-2 {
  .item { 
    display: block;background-color: #FAFAFA; position: relative;      height: 100%;
    .img {
      img { display: block; width: 100%; }
    }
    .title { position: absolute; bottom: 40px; left: 0; right: 0; text-align: center; font-size: 16px;  }


  }
  .row {
    &>div { 
      margin-bottom: 30px; 

      @include min992 {
        &:nth-child(3){
          .img{
            float: right;
            img { width: auto; }
          }
          .title {
            width: 50%; right: auto; bottom: auto; top: 50%; @include translateY(-50%);
          }
        }
        &:nth-child(4){
          .img{
            float:left;
            img { width: auto; }
          }
          .title {
            width: 50%; left: auto; bottom: auto; top: 50%; @include translateY(-50%);
          }          
        }
      }



    }
  }  

  @include max767 {
    .item   .title {bottom: 10px;}
    .row {
      margin-right: -5px;    margin-left: -15px;     
      &>div { padding-right: 5px; padding-left: 5px; }
    }
  }

  
}




.block-single-1 {
  @extend %aconcept-block-1;
}

.block-single-2 {
  @extend %aconcept-block-2;
}

.lists-1 {
  @extend %aconcept-list-1;
  .title,.title2 { font-size: 24px; }
  @include max1199 {
    .title,.title2 { font-size: 18px; }
  }
}

.lists-2 {
  @extend %aconcept-list-2;
}

.lists-3 {
  .item { margin-bottom: 30px; }
  .img2 { 
    display: inline-block; position: relative; margin-bottom: 30px; 
    .sale { position: absolute; bottom: 0; right: 0;     transform: translate(50%,50%); }
    .new { position: absolute; top: 0; left: 0;     transform: translate(-50%,-50%); }
  }
  .divtext { padding:20px 0; text-align: center;      max-width: 480px;    margin: 0 auto;}
  .price { color: #6C6C6C; font-size: 15px; }
  .like { 
    margin-left: 20px;
  }

  @include max991 {
    .img { margin-bottom: 20px; }
    .img2 { margin-bottom: 10px; }
  }
}


.lists-4 {
  .item { margin-bottom: 30px; text-align: center; padding-top: 30px; }
  .divtext { padding:15px 0; }
  .img { 
    display: inline-block; position: relative; margin-bottom: 20px; 
    .sale { position: absolute; bottom: 0; right: 0;     transform: translate(50%,50%); }
    .new { position: absolute; top: 0; left: 0;     transform: translate(-50%,-50%); }
  }
  .wtitle { min-height: 55px; overflow:hidden;  }
  .title { margin-bottom: 0; }
  .color { font-size: 13px; margin-bottom: 0; }

  .price { color: #6C6C6C; font-size: 15px; }
  

  .like { 
    margin-left: 20px;
  }
}



.block-single-3 {
  .item { max-width: 800px; margin:0 auto; text-align: center; position: relative; padding:100px 0; }
  .desc { font-size: 25px; font-weight: 600; }
  .icon-mail {     font-size: 45px; }
  .img { padding-top: 20px; }

  @include min1200 {
    .img { position: absolute; @include translate(-150%, -50%); left: 0; top: 50%; padding:0; }
  }

}




.btn1 {
  &:hover {
    background-color: #232323;
    color: #fff;
  }
}

.btn2 {
  background-color: $color2; border-color: $color2; color: #fff;
  &:hover {
    background-color: $color1; border-color: $color1;
  }
}


.btn3 {
  border-color: $color1; color: $color1;
  &:hover {
    background-color: $color2; border-color: $color2; color: #fff;
  }
}



.worder {
  .iorder { 
    float: right; position: relative; border-bottom: 1px solid #C1C1C1; padding-left: 50px;
    &>img { @include middleY; left:10px;}
    select { display: block; border:none;  }
  }
}


.wmasonry {
  position: relative; height: 1400px;
}
.grid-masonry {
  position: absolute; width: 100%; height: 100%;
  &>div { display: block !important; padding:0; position: absolute; }

  .w-1 { width: 100%; }
  .w-2 {width: 50%; }
  .w-3 {width: 25%; left:41.66667%; top: 700px; }
  .w-4 {width: 33.3333%; right: 0; top: 700px;  }
  .w-5 {width: 41.66667%; left: 0; top: 700px; }
  .w-6 {width: 30%; }
  .w-7 {width: 30%; }
  .w-8 {width: 66.66667%; left: 0; top: 1150px; }
  .w-9 {width: 30%; }
  .w-10 {width: 30%; }
  .w-11 {width: 30%; }
  .w-12 {width: 100%; } 

  .item {
    img { display: block;     object-fit: cover; width: 100% }
  }
  .size-1 img,
  .size-4 img  { height: 700px; }
  .size-2 img,
  .size-3 img { height: 450px; }
  .size-5 img { height: 250px; }
}

@include min768max1199 {
  .wmasonry {height: 800px;}
  .grid-masonry {
    .w-3,.w-4,.w-5 {top: 400px; }
    .w-8 {top: 650px; }
    .size-1 img,
    .size-4 img  { height: 400px; }
    .size-2 img,
    .size-3 img { height: 250px; }
    .size-5 img { height: 150px; }
  }
}


@include max767 {
  .wmasonry {height: 600px;}
  .grid-masonry {
    .w-3,.w-4,.w-5 {top: 300px; }
    .w-8 {top: 500px; }
    .size-1 img,
    .size-4 img  { height: 300px; }
    .size-2 img,
    .size-3 img { height: 200px; }
    .size-5 img { height: 100px; }
  }
}


.detailbanner {
  background-color: #E7E7E7; color: #6C6C6C; 
  background-image: linear-gradient(to right, #E7E7E7,#fff,#E7E7E7); padding-top: 150px;
  .images {
    .img {
      img {     object-fit: contain; }
    }

    .owl-dots {
      position: absolute; bottom: 0; left: 0; right: 0;
    }
  }

  h1 { color: $color2; }

  .info {
    .rowlabel {
      display: inline-block; margin-bottom: 30px;
      .item { border-bottom: 1px solid #C1C1C1; }

    }

    .variation {
       margin-bottom: 30px;
      .item { 
        //float: left; margin-right: 30px; 
        position: relative;
        .key { 
          color: $color2; margin-bottom: 5px; position: relative; 
          strong { font-weight: 600 }
          i { position: relative; font-size: 12px;  display: inline-block;    margin-left: 10px; color: #6C6C6C; }
        }
        &>.select2 { 
          position: absolute; top: 0; left:0; width: 100%; height: 100%;  opacity: 0;
          .select2-selection__rendered { position: absolute; top: 0; left:0; width: 100%; height: 100%;  }
        }

      }




    }
    .qualitys {
       margin-bottom: 20px;
      .title { font-weight: 600; color: $color2; }
      .quality {
        font-size: 22px; float: left;     margin-top: 5px;
        &>span { float: left; }
        .numb { width: 30px; height: 30px; font-weight: 600; text-align: center;  font-size: 18px; color: $color2; float: left; border:none; background-color: transparent; }
      }
      .select { background-color: transparent; border-radius:0; color: #6C6C6C; float: right;  }
    }
    .price { font-weight: 600; font-size: 20px; color: $color2; padding:20px 0; border-top:1px solid #979797; }


  }
}


.page-product-detail {
  .winfo {
    max-width: 870px; margin:0 auto;
  }
  .feature {
    border-bottom: 1px solid #C1C1C1; padding-bottom: 30px; margin-bottom: 30px;
  }

  .info {
    color: #6C6C6C;
    h3 { text-align: center; color: $color2;}
    h6 { font-weight: 600; color: $color2; }

    .tgh-first { margin-bottom: 30px; }

    .toggleHeight {
      padding-bottom: 30px; position: relative;
      .toggle { 
        position: absolute; @include middleX; bottom: 0; border:1px solid $color2; 
        width: 30px; height: 30px; line-height: 30px; text-align: center;
        color: $color2;    border-radius: 100%;    font-size: 12px; @extend .tss;

        &:hover {
          color: $color1; border-color: $color1;
        }

      }
      .tgh-content {
        &:not(.less) {
          .tgh-first {
            position: relative;
            &:after {
              content: ""; position: absolute; bottom: 0; left: 0; right: 0;
              background: url(../images/shadow.png) repeat-x ; height: 100px;

            }
          }
        }
      }
    }
  }


  .row-5 {
    .item {
      .img {
        img { max-width: 170px; }
      }
    }
  }
}

.sec-filter {
  position: relative; z-index: 20;     margin-top: -40px;
  .filter { padding:0 110px 0 80px; position: relative; border:1px solid #C1C1C1; background-color: #fff; }
  .item {
    padding:15px 0;
    .key { 
      color: #6C6C6C; 
      i { font-size: 12px; display: inline-block; margin-left: 15px; }
    }
    .value { color: $color2; font-size: 20px; font-weight: 600 }
    &>.select2 { 
      position: absolute; top: 0; left:0; width: 100%; height: 100%;  opacity: 0;
      .select2-selection__rendered { position: absolute; top: 0; left:0; width: 100%; height: 100%;  }
    }
  }
  .btnfilter {
    position: absolute; top: 0; right:0; text-align: center; bottom: 0;  width: 110px; 
    background-color: #6C6C6C; color: #fff; text-transform: uppercase; cursor: pointer;
    span { @include middle; }
  }


  @include min992max1199 {
    .filter { padding:0 80px 0 15px;  }
    .btnfilter {  width: 80px;   }
    .item {
      .value { font-size: 16px;}
    }
  }
  
  @include max991 {
    .filter { padding:0 15px 15px;  }
    .btnfilter {     position: relative;    top: unset;    display: block;    right: unset;    height: 50px;    line-height: 50px; }
    .item {
      .value { font-size: 16px;}
    }
  }


}




.ui-slider-horizontal {
  height: 3px; background-color: #eeeeee; position: relative;
  .ui-slider-range { position: absolute; height: 100%; background-color: $color1; }
  .ui-slider-handle { position: absolute; width: 14px; height: 14px; border-radius: 100%; background-color: $color1; @include middleY; }
}

.wrangeprice {
  position: relative;
  .rangeprice {
    padding: 20px 20px 10px 0; background-color: #fff; position: absolute; visibility: hidden; opacity: 0; width: 100%;
  }
  &.active {
    .rangeprice { visibility: visible; opacity: 1; position: relative; }
  }
}

.sec-1 {
  .desc {color: #6C6C6C;}
}

@include min992 {
  .sec-1 {
    .divtext  {
      .inner2 { max-width: 320px; margin:0 auto; }
    }
  }
  .sec-2 {
    .divtext  {
      .inner2 { max-width: 265px; margin:0 auto; }
    }  
  }

  .sec-4,.sec-5 {
    .divtext  {
      .inner2 { max-width: 310px; float: right;}
    }  
  }
}
