// DEFAULT
$color1 : #9D0E01;  
$color2: #232323;
$color3: #444444;

$color4: #9B9B9B; 
$color5: #ec2028;
$color6: #5497f4;  

$section_pd : 50px; 


//@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700|Roboto:100,300,400,400i,500,700,900&subset=vietnamese');
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&display=swap&subset=vietnamese');

@font-face {
  font-family: 'AvenirNext';
  src: url(../fonts/avenir/AvenirNext-UltraLight-11.ttf);
  font-weight: 100;
}
@font-face {
  font-family: 'AvenirNext';
  src: url(../fonts/avenir/AvenirNext-Regular-08.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'AvenirNext';
  src: url(../fonts/avenir/AvenirNext-Italic-05.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'AvenirNext';
  src: url(../fonts/avenir/AvenirNext-Medium-06.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'AvenirNext';
  src: url(../fonts/avenir/AvenirNext-DemiBold-03.ttf);
  font-weight: 600;
}
@font-face {
  font-family: 'AvenirNext';
  src: url(../fonts/avenir/AvenirNext-Bold-01.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'AvenirNext';
  src: url(../fonts/avenir/AvenirNext-Heavy-09.ttf);
  font-weight: 800;
}



// Font 
$font1 : 'AvenirNext', sans-serif;
$font2 : 'TrajanPro3', sans-serif;
$font3 : 'Opensan Semibold', sans-serif;


@import "variables/extend";   
@import "variables/header";
@import "variables/menu";
@import "variables/form";
@import "variables/slider";
@import "variables/tabs";
@import "variables/pagination";   
@import "variables/thumb";   
@import "variables/sub";   




