@import "variables";  

// cart.scss
$grey: #C1C1C1;
$grey2: #6C6C6C;
$radius-default: 3px;


//mixin

$min768 : "only screen and  (min-width: 768px)";
$min992 : "only screen and  (min-width: 992px)";
$min1200 : "only screen and (min-width: 1200px)";
$min1400 : "only screen and (min-width: 1400px)";

$max320 : "only screen and (max-width: 320px)";
$max480 : "only screen and (max-width: 480px)";
$max767 : "only screen and  (max-width: 767px)";
$max991 : "only screen and  (max-width: 991px)";
$max1199 : "only screen and  (max-width: 1199px)";
$max1399 : "only screen and  (max-width: 1399px)";

$min481max767 : "only screen and (min-width: 481px) and (max-width: 767px)";
$min768max991 : "only screen and (min-width: 768px) and (max-width: 991px)";
$min768max1199 : "only screen and (min-width: 768px) and (max-width: 1199px)";
$min992max1199 : "only screen and (min-width: 992px) and (max-width: 1199px)";

$min1200max1399 : "only screen and (min-width: 1200px) and (max-width: 1399px)";


@mixin min768() {  @media #{$min768} {   @content; } }
@mixin min992() {  @media #{$min992} {   @content; } }
@mixin min1200() {  @media #{$min1200} {   @content; } }
@mixin min1400() {  @media #{$min1400} {   @content; } }

@mixin max320() {  @media #{$max320} {   @content; } }
@mixin max480() {  @media #{$max480} {   @content; } }
@mixin max767() {  @media #{$max767} {   @content; } }
@mixin max991() {  @media #{$max991} {   @content; } }
@mixin max1199() {  @media #{$max1199} {   @content; } }
@mixin max1399() {  @media #{$max1399} {   @content; } }

@mixin min481max767() {  @media #{$min481max767} {   @content; } }
@mixin min768max991() {  @media #{$min768max991} {   @content; } }
@mixin min768max1199() {  @media #{$min768max1199} {   @content; } }
@mixin min992max1199() {  @media #{$min992max1199} {   @content; } }
@mixin min1200max1399() {  @media #{$min1200max1399} {   @content; } }



// btn

.btn-primary{
	font-size: 100%;
	background-color: $color2;
	color: #fff;
	text-transform: uppercase;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.30);
	span{
		font-weight: 100;
	}
}

.btn-grey{
	background-color: $grey2;
	border-color: $grey2;

	color: #fff;
	i{
		color: inherit;
	}
}

form{
	.input{
	border-radius: 0;
	border: none;
	border-bottom: 1px solid $grey;
	&:focus{
			border-top-width: 0;
			border-right-width: 0;
			border-left-width: 0;
			border-bottom-color: $color2;
		}
	}
	label{
		font-size: 14px;
		color: $grey2;
	}
	select{
		border-radius: 0px; 
		border: none;
		border-bottom: 1px solid $grey;
	}

}

.custom-select-black {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 12px;
}
.custom-select-black {
    background: transparent url(../images/arrow_drop_down.png) no-repeat right 8px center;
}


.margin-auto{
	margin: 0 auto;
}
//cart banner

.wizard {
	position: relative;
	&:before{
		content: ""; position: absolute;
		background-color: #989898;
		left: -100%;right: -100%;
		top: 0; bottom: 0;
		z-index: -1;
	}
	.nav-tabs {
		list-style: none;
		overflow: hidden;
		li{
			float: left;
    		margin-bottom: -1px;
			width: 33.33%;
    		overflow: hidden;
			position: relative;
    		display: block;
			a {
				font-weight: 100;
				color: #fff;
				text-transform: uppercase; 
			    font-size: 15px;
			    // width: 70px;
			    height: 70px;
			    line-height:70px;
			    margin: 0 auto;
			    padding: 0;
			    display: block;
			    text-align: center;
			    background: transparent !important;
			    border: none !important;
			    white-space: nowrap;
			}
			&:after {
			    content: "";
			    position: absolute;
			    left: 0;
			    right: 0;
			    bottom: -10px;
			    width: 1px;
			    opacity: 0;
			    margin: 0 auto;
			    border: 8px solid transparent;
			    -webkit-transition: 200ms ease-in-out;
			    transition: 200ms ease-in-out;
			}
			&.active{
				a{
					font-weight: 400;
				}
				&:after {
				    bottom: 0;
				    opacity: 1;
				    border-bottom-color: #fff;
				}
			}
		}
	}
}


// cart
.cart-list-wrapper{
	.cart-list-inner{
		margin: 0 auto;
	}
}


.cart-list { 
	color: $color2;
	padding: 0;
	.table { border-bottom: 1px solid  $grey; width: 100%; border-collapse: collapse; }

	.table-responsive { 
		margin-bottom: 0;
    	overflow: auto;
    	
		tbody tr { 
			position: relative; border-bottom: 1px solid $grey;
			&:last-child { border-bottom: none; }
		}
		thead{
    		>tr{
    			border-bottom: 1px solid $grey;
    		}
    	}
		th {
			border: none;
			text-transform: uppercase; color: $grey2; font-weight: normal;
			padding: 30px 0;
			&:first-child{
				padding-left: 100px;
			}
		}
		td { 
			padding-top: 40px; padding-bottom: 20px; border: none;
			&:first-child { padding-left: 0; width: 190px; font-weight: 600; vertical-align: top; position: relative; }
			&:nth-child(3) { }
			&:nth-child(5) {  }
			&:nth-child(6) { padding-left: 0; padding-right: 0; }
		}
		h5 > a { white-space: normal; }
		.option { margin-top: 5px; white-space: nowrap;
			span { 
				font-size: 13px; display: block; color: $grey2;
				span { font-weight: 400; display: inline-block;  }
			}
			.label{
				min-width: 110px;
				&+span{
					margin-left: 0;
				}
			}
		}
		.btn-update { margin-left: 5px; padding: 0; float: left; background: transparent; border: none; transition: 200ms ease-in-out;
			&:hover { }
		}
		.cross-button { position: relative; margin-top: 1px; }
	}
	.image-holder {
	    height: 71px;
	    width: 106px;
	    position: relative;
	    margin: 0 auto;
	    img{
	    	position: absolute;
    		left: 50%;
		    top: 50%;
		    max-height: 100%;
		    max-width: 100%;
		    -webkit-transform: translate(-50%, -50%);
		    transform: translate(-50%, -50%);
			    }
	}
	
	label { font-size: 18px; float: left; margin-right: 10px; }

	.product-info{
		.desc{
			color: $grey2;
		}
		
	}

	.quantity {
		font-size: 16px;
    	float: left;
		.input-number {
	       width: 30px;
		    height: 16px;
		    font-weight: 600;
		    text-align: center;
		    line-height: 30px;
		    vertical-align: text-bottom;
		    color: $color2;
		    float: left;
		    border: none;
		    background-color: transparent;
		    position: relative;
    	}
    	>.btn-number{
    		float: left;
		    font-size: 16px;
		    border: none;
		    background: none;
    	}
    }
    .btn-close{
    	background: none;
    	border: none;
    	font-size: 14px; color: $grey2;
    }

}

.cart-list-bottom{
	margin-bottom: 50px;
	label{
		text-transform: uppercase;
		color: $grey2;
	}
	.item-amount:not(:last-child){
		margin-bottom: 10px;
	}
	.price{
		text-align: right; float: right;
	}
	.final-total{
		.price{
			font-size: 18px; font-weight: 500;
		}
	}
	.coupon .price{
		color: #C3453E;
	}
	
}

.cart-list-actions{
	margin-bottom: 100px;
}


#coupon-apply-form{
	.form-group{
		position: relative; max-width: 250px; float: left;
		label{
			margin-right: 10px;
		}
		input[name=coupon]{
			max-width: 110px;
		}
		
		button{
			position: absolute; right: 0; top: 0; border: none;width: 40px;height: 40px; padding: 0;
			i{
				color: #62A447;
			}
		}
	}
	
}

@include min1200 { 

	.cart-list { 
		.table-responsive { 
				td { vertical-align: middle;
				&:nth-child(2) { min-width: 260px; }
				&:nth-child(3){ min-width: 200px; }
				&:nth-child(4){ min-width: 150px; }
				&:nth-child(5) { min-width: 200px; }
				&:nth-child(6) { min-width: 40px; }

			}
		}
	}
}

@include max1199 { 
	.cart-total { margin-top: 30px; }

	.cart-list { 
		.table-responsive td:first-child{
			width: 70px;
		}
		
		.table-responsive td:nth-child(3),
		.table-responsive td:nth-child(4){
			display: block;
			padding-bottom: 0; 
		}
		.table-responsive td:nth-child(4){
			padding-top: 20px;
		}
		.table-responsive td:nth-child(6),
		.table-responsive td:nth-child(5),
		.table-responsive td:nth-child(3){
			padding-top: 80px;
		}
		.table-responsive tr:not(:last-child) {
		    border-bottom: 1px solid #f1f1f1;
		}
		.table-responsive{
			td {

				.title{ margin-bottom: 3px;}
			}
			.cart-item.item td .thumb{
					width: 90px;
			}

			.item td .quantity.buttons_added{
				margin-top: 0;
			}
		}
	}
}

@include min768max1199{
	.cart-list { 
		.table-responsive td:nth-child(2){
			width: 200px;
		}
	}
}

@include min768{
	.cart-list{
		td label{ display: none;}
	}
	.cart-list-actions{
		.btn + .btn{
			float: right;
		}
	}
}

@include max767 { 
	.cart-list { 
		.box-header { margin-bottom: 0; }
		.table-responsive { 
			td { 
				&:nth-child(2){ display: block; }
				&:nth-child(3) { display: block; padding-bottom: 5px; padding-top: 0; white-space: normal; }
				&:nth-child(4) { display: block; padding-top: 0; padding-bottom: 5px; }
				&:nth-child(5) { display: block; padding-top: 0; padding-bottom: 5px; }
				&:nth-child(6) { display: block; padding-top: 0; padding-bottom: 15px; }
				&:nth-child(6) { text-align: right; }
			}
			.cross-button { margin-top: 2px; }

			.cart-item.item td .thumb{
					width: 75px;
			}
			.price{ font-size: 15px;}
		}
		label { font-size: 15px; font-weight: bold;}
		span { font-size: 15px; }
		.image-placeholder { 
			width: 75px;
		}
		
	}
	#coupon-apply-form{
		margin-bottom: 10px;
	}
	.cart-list-actions{
		.btn{
			display: block;
			max-width: 100%;
		    margin: 0 auto;
		    margin-bottom: 10px;
		    float: none;
		}
	}
}

// cart completed

.cart-completed{
	.block-center{
		margin: 0 auto;
		text-align: center;
		img{
			margin-bottom: 70px;
			margin-top: 100px;
		}
		.message{
			margin-bottom: 100px;
		}
		
	}

	@include max1199{
		min-height: 580px;
		.block-center{
			img{
				margin-bottom: 70px;
			}
		}
	}

	@include max767{
		min-height: 280px;

		.block-center{
			img{
				margin-top: 30px;
				margin-bottom: 30px; max-width:40%;
			}
			.message{
				margin-bottom: 30px;
			}
		}
	}
}
.cart-completed-bottom{
	background: url('../images/cart/completed-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 360px;
	text-align: center;
	@include max767{
		// background-size: contain;
	}
	.thankyou{
		margin-top: 40px;
		margin-bottom: 15px;
		color: $grey2;
	}
}

.btn-back{
	.icon-arrow-14{
		transform: rotate(180deg);
	}
}

// checkout

form{
	.rowblock {
	  display: block;
	  &>* { 
	    display: block; width: 100%;
	  }

		margin-bottom: 20px;
	    overflow: hidden;
	    label{
	      display: inline-block;
	      width: 50%;
	      float: left;

	      input[type="radio"]{
	        margin-right: 10px;
	        margin-left: 1px;
	      }
	    }
	}
}

.form-checkout{
	padding-top: 50px;
}

ul.menu-shipping-method{
	margin-top: 15px;
	margin-bottom: 30px;
	list-style: none;
	display: flex;
    justify-content: space-between;
	li{
		border: 1px solid $grey;
		width: 185px;
    	padding: 15px 0;
    	color: $grey2;
    	text-align: center;
		span{
			display: block;
		}
		&.active{
			// border-color: rgba($color2,.5);
			background-color: rgba($color2,.5);
			color: #fff;
		}
	}
}


// minicart
#header .item.mini-cart-wrapper {
	.qty {
	    background-color: $color1;
	    font-size: 10px;
	    line-height: 10px;
	    border-radius: 50%;
	    position: absolute;
	    top: -5px;
	    display: block;
	    right: -8px;
	    padding: 3px 0;
	    text-align: center;
	    width: 14px;
	    display: block;
	    height: 14px;
	    color: #fff !important;
	}


	&.dropdown > 
		.content{
			background-color: #fff;
			padding: 0;
			border: 1px solid #EBEBEB;
			width: 270px;
			    right: -33px;
    top: 26px;
			>.inner{
				border-radius: 0;
			}
		}
	.subtotal{
		color: $color2;
		padding: 20px;
		text-transform: uppercase;
		label{
			    min-width: 70px;
    		display: inline-block;
		}
		span{
			color: $color2;
		}
	}

	.mini-cart-buttons{
		padding: 0 20px 20px 20px;
	}
}

#header .group-header > .item > a:hover{
	.qty {
		color: #fff;
	}
}

.mini-cart {
	padding: 0px;
	.mini-cart-image {
		position: relative;
	    border-radius: 3px;
	    background: #ffffff;
	    height: 55px;
	    width: 60px;
	    margin-top: 4px;
	    float: left;
	    margin-right: 15px;
		img {
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    width: auto;
		    max-width: 100%;
		    max-height: 50px;
		    outline: 0;
		    margin: auto;
		    -webkit-transform: translate(-50%, -50%);
		    transform: translate(-50%, -50%);
		}
	}
	.mini-cart-item{
		position: relative;
	    margin: 0;
	    padding: 15px 20px;
	    display: block;
	    // -webkit-transition: 200ms ease-in-out;
	    // transition: 200ms ease-in-out;
	    overflow: hidden;
	    	border-bottom: 1px solid $grey;
	    a{
	    	color: $grey2;
	    }
	    .product-name{
	    	color: $color2;
	    	display: block;
	    }
	    .product-quantity-wrapper{
	    	color: $grey2;

	    }
	    .product-price{
	    	color: $grey2;
	    }
	}
	.mini-cart-details > form {
	    position: absolute;
	    right:20px;
	    top: 50%;
	    transform: translateY(-50%);
	    .btn-close {
		    font-size: 22px;
		    position: relative;
		    top: auto;
		    right: auto;
		    background: transparent;
    		border: none;
    		color: $grey2;
		}
	}
	
}


// modal login
.modal.modal-login{


	.modal-dialog{
		width: 600px;
	}

	.form-wrapper-login .form-page{display:table-cell;vertical-align: middle;}
	
	.form.form-page{
		position: relative;
	}
	.form.form-page .form-group{
		margin-bottom: 15px
	}

		.form-wrapper-login{
		margin-bottom: 50px
	}
	.form{
		padding:0 70px;
	}

	.form.form-page label,.form.form-page input,
	.login-form .checkbox{display: block;width: 100%}
	.form.form-page input{padding: 0 10px}
	.form.form-page input[type="checkbox"]{float:left;margin-right: 10px}
	.form-wrapper-login{
		display: table;
	    width: 600px;
	    margin: 30px auto 0;
	}

	.login.form-inner.clearfix.no-border{border:0;margin-top:0;padding:0 0 20px 0;}
	.login-form .login .btn[class*='ar']:before,.register-form .btn[class*='ar']:before,.my-account .btn[class*='ar']:before {
		content:"";
	}

	.login-facebook{
		border-color: #607fbe;color: #607fbe;
	}
	.login-google{
		border-color: #cc615b;color: #cc615b;
	}

	.btn-actions{
		display: flex;
    	justify-content: space-between;
	}
	@include max767{
		.form-wrapper-login,
		.modal-dialog{
		width: 100%;

		}
		.form{
			padding:0 20px;
		}
		.btn-actions{
			    flex-direction: column;
			    .btn{
			    	margin-bottom: 10px;
			    }
		}
	}
}

.container_check { display: block; position: relative; padding-left: 35px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
/* Hide the browser's default checkbox */
.container_check input { position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0; }

/* Create a custom checkbox */
.checkmark { position: absolute; top: 0; left: 0; height: 20px; width: 20px; background-color: #eee; }

/* On mouse-over, add a grey background color */
.container_check:hover input ~ .checkmark { background-color: #ccc; }

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark { background-color: #2196F3; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after { content: ""; position: absolute; display: none; }

/* Show the checkmark when checked */
.container_check input:checked ~ .checkmark:after { display: block; }

/* Style the checkmark/indicator */
.container_check .checkmark:after { left: 6px; top: 2px; width: 5px; height: 10px; border: solid white; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }