.register-form{
	border-radius: 0;
	border:1px solid #b6b6b6;
	padding:50px 80px;
}
.width-custom{
	max-width: 615px;
	float:none;
	margin:0 auto;
}
.width-custom form{
	width: 100%;
}
.width-custom select,.theme-blue .content-wrapper select{
	background: url('../images/arrow-down.jpg') no-repeat right #606060;
    -webkit-appearance: none;
    appearance: none;
    background-size: 15px auto;
    background-color: #fff

}

.register-wrapper{
	margin: 70px 0;
}
.width-custom select::-ms-expand {	
	display: none; 
}

.width-custom input.form-control,.width-custom select.form-control,
.form-wrapper-login .form .form-group .form-control,.theme-blue input,
.theme-blue .content-wrapper select,.account-details input,.account-details select{
	border:0;
	border-bottom: 1px solid;
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
}
.col-md-12 .width100,.register-wrapper label,.register-wrapper select,.register-wrapper input,.account-details input,.account-details select,.account-details label{
	width: 100%;
	margin:0;
	display: block;
    padding: 0 10px
}

.register-form .checkbox {
	margin-top:15px;
	margin-bottom:0;clear: both;display: inline-block;width: 100%
}
.theme-blue .register-form .btn-primary,.login-form .login .btn-login{
	background: #232323;
	border:0;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	box-shadow: 0px 3px 5px #ddd;
	-webkit-box-shadow: 0px 3px 5px #ddd;
	-moz-box-shadow: 0px 3px 5px #ddd;
	line-height: 1.4
}

.social-button{
	margin-top: 20px;
	    clear: both;
    display: inline-block;
    width: 100%;
}

.social-button .btn-custom{
	width: 100%;text-transform: uppercase;
}
.theme-blue .register-form .btn-primary.btn-google{
	background: #c3453e
}
.theme-blue .register-form .btn-primary.btn-facebook{
	background: #4267b2
}
.left-image{width: 430px;
	padding: 0;} /* */
.left-image img {display: block}

.left-image,.form-wrapper-login .form-page{display:table-cell;vertical-align: middle;}
.form-wrapper-login .form-page{
	width: calc(100% - 430px);
}
.form.form-page{
	position: relative;
	border: 1px solid #b6b6b6;
	border-left: 0;
    display: flex;
    justify-content: center;
	align-items: center;
	padding: 65px;

}
.form.form-page .login-form{
	width: 100%;
}
.form.form-page .form-group{
	margin-bottom: 15px
}
.social-button .col-md-6 {float: left}
.form.form-page label,.form.form-page input,.login-form .checkbox{display: block;width: 100%}
.form.form-page input{padding: 0 10px}
.form.form-page input[type="checkbox"]{float:left;margin-right: 10px}
.form-wrapper-login{
	max-width: 900px;
	margin: 30px auto;
}
.my-account{
	display: table;
    width: 1050px;
    margin: 30px auto 0;
}
.form-wrapper-login{
	margin-bottom: 50px
}
.form{
	padding:0 70px;
}
.login.form-inner.clearfix.no-border{border:0;margin-top:0;padding:0;}
.login-form .login .btn[class*='ar']:before,.register-form .btn[class*='ar']:before,.my-account .btn[class*='ar']:before {
	content:"";

}
.login-form .login .btn-login {
	width: 100%;padding:7px;color: #fff;text-transform: uppercase;
}
.my-account .btn[class*='ar']{text-transform: uppercase;}
.login-form .checkbox {margin-top:0;margin-bottom: 20px;line-height:20px;padding:0 10px;}
.text-center{text-align: center}
.btn-login-custom{
	border:1px solid #ddd; 
	width: 100%;
	padding:7px;
	display: block;
	margin-bottom: 20px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.theme-blue .btn-primary,.register-form button[type="submit"],.my-account .btn[class*='ar']{
	background: #232323;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border:0;
}
.register-form button[type="submit"]{text-transform: uppercase;color: #fff}
.theme-blue .index-table{
	border:0;
}
.login-facebook{
	border-color: #607fbe;color: #607fbe;line-height: 1.4
}
.login-google{
	border-color: #cc615b;color: #cc615b;line-height: 1.4
}
.forgot-content{margin: 15px 0;color:#656565;}
.login-bottom{position: absolute;bottom: 0;left: 0;display: block;width: 100%;background: #6c6c6c;padding:25px 0;color: #fff}
.col-left{
	background: #6c6c6c;
}
.col-left,.col-right{
	display: table-cell;
}
.col-left{
	width: 450px;padding-top: 60px
}
.col-right{border:1px solid #f0f0f0;}
.account-details{
	padding:65px 80px 0 80px;border:0 !important;
}
.my-account{
	margin-top:70px;
	margin-bottom:70px;
}
.my-account .account-details{
	color: #232323
}
.my-account .account-details h1{
	font-size: 30px;text-transform: uppercase;margin-bottom: 10px
}
.icon-profile{padding-bottom: 65px}
.profile-info-top{margin-top: 20px;text-transform: uppercase;}
.my-account ,.my-account  li a,.theme-blue .my-account .sidebar-menu li a,.theme-blue .my-account .sidebar-menu li a i{color:#fdfdfd;}
.theme-blue .my-account .col-left .sidebar-menu li {border-top: 1px solid #b2b2b2;padding-left: 115px;border-bottom: 0}
.theme-blue .my-account .col-left .sidebar-menu li.active
{background: #232323;border-top: 1px solid #232323;text-decoration: none}
.theme-blue .my-account .col-left .sidebar-menu li:hover{
	background: #232323;text-decoration: none
}
.theme-blue .my-account .col-left .sidebar-menu li:hover a,.my-account .btn[class*='ar']{
	color: #fff
}
.content-button{
	margin-bottom: 60px;padding-left:80px;
}
.sidebar-menu ul{
	border-top: 1px solid #aaaaaa
}
.sidebar-menu li.active,.sidebar-menu li:hover{
	background: #232323
}
.sidebar-menu li{
	padding-left: 107px;border-bottom: 1px solid #aaaaaa
}
.sidebar-menu li a {
	padding:20px 0;display: block;
}
.form-group{margin-bottom: 30px}
.theme-blue label{
	color: #818181;font-weight: normal;font-size: 14px;padding-left: 12px;margin-bottom: 0
}
.theme-blue .my-account .sidebar-menu li.active a,.theme-blue .my-account .sidebar-menu li.active a i{color: #fff}
.form-group select,.form-group input,input:not([type=checkbox]):not([type=select-multiple]){height: 32px!important}
.form-control+.input-icon{
	font-size: 18px;
    left: 5px;
    top: 25px;
}
.main, body{
	    overflow-x:initial;
}

.container_check {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container_check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container_check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_check .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn-facebook{
	background: #4267b2
}
.btn-google{
	background: #c3453e
}
.register-form .btn-custom{
	color: #fff;border:0;
}
.register-form .container_check{padding-left: 30px}
.register-form .container_check .checkmark:after{
	border:solid #383838;    border-width: 0 2px 2px 0;    left: 5px;
    top: 1px;
}
.register-form .checkmark{
border:1px solid #f3f3f3;
background: #fff
}
.my-account.orders .col-right{background: #f2f2f2}


@media only screen and (max-width : 567px) {
	.form-wrapper-login{
		padding: 0 25px;
	}
	.left-image{
		margin-bottom: 20px;
	}
	.left-image img{
		margin-bottom: 20px;
	}
	.form.form-page{
		display: contents;
	}
	.login-bottom{
		position: static;
		padding: 20px 0;
	}

	.form .login-form {
		width: 100%
	}
	.register-form{
		padding: 20px 30px;
	}
	.register-form .col-md-12,
	.register-form .col-md-6{
		padding:0;
	}
	.social-button{
		display: flex;
	}
	.social-button .fb{
		padding-left: 0;
		padding-right: 10px;
	}
	.social-button .gg{
		padding-right: 0;
		padding-left: 10px;
	}
	.btn i{
		display: none;
	}
	.register-wrapper {
		margin: 30px 0;
	}
}

@media only screen and (min-width : 567px) and (max-width: 768px){
	.login-form .checkbox{
		margin-bottom: 10px!important;
	}
	.login-bottom{
		padding: 10px 0;
	}
	.forgot-content{
		margin-bottom: 8px ;
	}
	.form-wrapper-login{
		padding: 0 30px;
	}
}

.alert-danger{
	max-width: 900px;
	margin: 0 auto;
	color: #c3453e;
	font-weight: 600;
	margin-top: 20px;
}
