$color1: #0085ba;


.theme-actions a.customize,
 {  
	display: none !important;
}
.button.nf-insert-form { display: none !important;}

.acf-postbox {
	.ui-sortable-handle { 
	}
}
.acf-repeater .acf-table {
	th[data-type="image"]{
		width: 120px !important; max-width: 120px !important ;
		& ~ th { width: auto !important;}
	}
	textarea { height: 80px !important  }  
	.acf-image-uploader .view { max-width: 80px !important}
}


.acf-postbox {
	h2.hndle {
		&>span {
			font-size: 20px; line-height: 20px;
		}
	}
}
.acf-fields {
	.acf-field.acf-block-title {
	    position: absolute;
	    top: -50px;
	    background-color: $color1; color:#fff;
	    left: 0;
	    right: 30%;
	    padding: 0;
	    &>.acf-label { display: none; } 
	    &>.acf-input {
	    	input {
				border: none;
			    height: 46px;
			    padding: 0 15px;
			    font-size: 22px;
			    background-color: transparent;
			    color: #fff;    		
			    display: block;
	    	} 
	    }
	}
}

.acf-postbox > .hndle .acf-hndle-cog { display: none !important;  }

[data-type="message"] {
    background-color: $color1;
    margin-bottom: -1px !important;
    z-index: 2;     padding:5px 10px !important;
	.acf-label {
    line-height: normal;
    color: #fff;		margin: 0 !important;
    text-transform: uppercase; 
    label {    	margin:0;    }
	}
}

.acf-fields > .acf-field {
	&[data-name="seo_keywords__"] {	 
	    float: left;
	    width: 50%;
	    clear: none; 
	}
}

.mce-btn-shortcode {
	border:none !important; position: relative;   cursor: inherit;
	.title { 
		display: block;  cursor: inherit;     background: $color1; color: #fff;   box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.3); border-radius: 2px; line-height: 26px; padding: 0 10px;  
	}
	.content {
		position: absolute; left: 0; width: 150px; padding: 10px; background-color: #fff;  border: 1px solid #ddd;     box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
		opacity: 0; visibility: hidden;     transition: all 0.3s ease-in-out;
		.mce-widget { display: block; float: none; width: auto; margin: 0 0 10px !important;  }
	}
	&:hover {
		.content { opacity: 1; visibility: visible;  }
	}

}


.acf-image-uploader .image-wrap img {
	max-height: 50px;
}

.acf-fields > .acf-field {
	&[data-type="group"] { 
		width: 100% !important;  clear: both !important; float: none !important;  
		&>.acf-label { font-weight: 700; color: $color1; }
		.acf-fields {
			.acf-field {
			    float: left;
			    width: 33.33%;
			    clear: none;
			    &:nth-child(3n+1) {
			    	clear: both;
			    }

			}
		}
		[data-type="message"] {
		    background-color: transparent;
		    margin-bottom: 0 !important;
		    padding:15px 12px !important;
			.acf-label {
		    color: #000;
		    label {  padding-top: 20px;}
			}
		}
	}
}




/* Custom ------------*/
.acf-fields > .acf-field {
	&[data-name*="aaaaaaa"]
	{	
	    float: left;
	    width: 50%;
	    clear: none;
	}
}

